<h1>New Restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, collection: %w[chinese italian japanese french belgian] %>
</div>
  <%= f.submit "Add Restaurant", class: "btn btn-primary" %>
<% end %>
<br>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
