
<h1> <%= @restaurant.name %></h1>

<p> Address: <%= @restaurant.address %></p>
<p> Category: <%= @restaurant.category %></p>

<div>
  <h4>Reviews:</h4>
  <% @restaurant.reviews.each do |review| %>
    <p>- <%= review.content %></p>
    <p>Rating: <%= review.rating %></p>
  <% end %>
</div>

<div>
  <div class="my-2">
  <%= link_to "Add a Review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
  </div>
  <div class="my-2">
  <%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary" %>
  </div>
</div>
